.back-to-top{
  color: #d63384 !important;
}

.featurette-heading {
  color: #56127a;
}

.color-muted {
  color: #151e7e !important;
}

.copyright {
  color: #fea200;
}

.carousel-link{
  color: #fff;
}

.duvida-link {
  color: #000;
}

.breadcrumb-other-pages{
  color: #d63384 !important;
}

.image-about-us {
  background-image: url('../images/outras/sobre.jpg');
}